.vscode
Src/*.o
shaders/*.spv
VulkanApp

Models/Sora.obj
Models/JackFrost.obj
Models/Jotaro.obj
Models/Sora2.obj
Models/SoraFinal.obj
Models/the_rock.obj
Models/bugatti.obj
Models/colored_cube.obj
Models/VideoShip.obj
Models/*.mtl